
.search-section {
  height: 23vh;
  background-color: #fef4ef;
}

/* Search box */
.search-container {  
  background: #fff;
  border-radius: 40px;
  padding: 8px 12px;
  width: 500px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.search-container input {
  border: none;
  outline: none;
  flex: 1;
  padding: 10px 15px;
  border-radius: 40px;
  font-size: 16px;
}

.search-container i {
  padding-top: 12px;
  background: #ff7a18;
  border: none;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 16px;
}
.order-section-main-heading{
    font-size: 28px;
    font-weight: 700;
    align-items: center;
}
.food-item{
    background-color: #fef4ef;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    border-radius: 14px;
}
.food-img{
    height: 160px;
    width: auto;
    border-radius: 12px;
}
.food-name{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 2px;
}
.restaurant-list{
    font-size: 18px;
    color: #333;
}