.review-card {
  box-shadow: 0 0 0 2px #f5ebe6;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 24px;
  padding-left: 44px;
  padding-bottom: 24px;
}
.review-text {
  font-size: 16px;
  color: #444;
  line-height: 1.6;
}

.review-stars {
  margin-top: 12px;
  margin-bottom: 8px;
  color: orangered;
}
.customer {
  color: #333;
  font-size: 16px;
  font-weight: 500;
}
.quote {
  color: orangered;
  position: absolute;
  font-size: 24px;
  top: 10px;
  left: 10px;
}
.review-right-icon {
  top: 35%;
  right: -18%;
}
.review-left-icon {
  top: 35%;
  left: -18%;
}

/* ******************************* */
/* Subscribe Section */
/* *********************************** */
.subscribe-section{
  background-color: #f5ebe6;
  margin: 32px 56px;
  padding-top: 28px;
  padding-bottom: 20px;
  border-radius: 18px;
}
.mail-box-input{
  outline: none;
  box-shadow: none;
  background-color: white;
  border-radius: 14px;
  padding: 7px 22px;
}
.email-icon{
  font-size: 22px;
  background-color: orangered;
  padding: 10px 12px;
  border-radius: 50%;
}
.few-text-heading{
  font-size: 18px;
  font-weight: 700;
}
.few-text-sub-heading{
  font-size: 18px;
  color: #555;
}
.email-address-fill-up{
  padding-top: 10px;
}
.few-text{
  
}